.heroContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorWhite);
}

.heroContentContainer {
    width: 100%;
    height: 30vh;
    display: inline-flex;
    justify-content: space-around;
}

.heroContentContainer h2 {
    font-size: 3.5em;
}

.heroleft span {
    text-shadow: -1.2px -1.2px 0 var(--softBlue), 1.2px -1.2px 0 var(--softBlue), -1.2px 1.2px 0 var(--softBlue), 1.2px 1.2px 0 var(--softBlue);
    color: var(--backgroundBlue);
}

.heroRight {
    text-align: center;
}

.heroRight h2 {
    color: var(--softRed);
}

.heroContainer button a {
    font-weight: 700;
    color: var(--softRed);
    text-decoration: none;
}

.heroContainer button {
    margin-top: 15px;
    bottom: 15%;
    padding: 2.5%;
    box-shadow: 3px 4px 0px 0px var(--softBlue);
    background-color: #FFFFFF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: var(--colorWhite);
    font-size: 18px;
    text-decoration: none;
}

/* nav */
.navbarContainer {
    position: fixed;
    top: 0;
    left: 50%;
    padding: 1% 0 1% 0;
    transform: translateX(-50%);
    width: 100%;
    color: var(--colorWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    height: auto;
    background-color: #071222a6;
    z-index: 9999;
}

.navbarLinks {
    gap: 60px;
    display: flex;
    flex-direction: row;
}

.navbarLinks li {
    transition: transform 0.5s;
}

.navbarLinks li:hover {
    transform: scale(1.2);
}

.navbarLinks li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--softBlue);
    display: block;
    margin: auto;
    transition: 0.5s;
    margin-top: 2px;
}

.navbarLinks li:hover::after {
    width: 100%;
}

.linkTo{
    color: inherit;
     text-decoration: none;
}