.aboutContainer {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
}
.aboutText h1{
    font-size: 2em;
    color: var(--softRed);
}
/* White line */
.aboutText h1::after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    width: 60%;
    height: 1px;
    background-color: var(--colorWhite);
}

.aboutDescription {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.aboutDescription p {
    grid-area: 1 / 1 / 4 / 4;
    font-size: 1.2em;
    line-height: 1.6;
    color: var(--colorWhite);
    margin-right: 50px;
}

.aboutSkills img {
    grid-area: 1 / 4 / 5 / 6;
    height: 50vh;
    border-radius: 30px;
    filter: drop-shadow(0.4rem 0.4rem 0rem var(--softBlue));
}

.aboutSkills{
    margin-left: 20px;
    grid-area: 5 / 1 / 2 / 4;
    color: var(--colorWhite);
    font-weight: 800;
}
.aboutSkills span{
    font-weight: 400;
    font-style: italic;
}

/* @media(max-width: 1200px){
    h1::after{
        display: none;
    }
    .description {
        font-size: 0.7em;
        display: inline-block;
    }
    p{
        margin-bottom: 25px;
        margin-right: 0;
    }
    img{
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

  }


   */