:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --backgroundBlue: #071222;
  --colorWhite: #D9D9D9;
  --softRed: #F87060;
  --softBlue: #758BFD;
  --colorWhiteDescription: #dddddd;
  --backgroundLightBlue: #112240;
}

body {
  overflow:auto;
  width: 100%;
  padding-left: 12%;
  padding-right: 12%;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--backgroundBlue);
  font-family: 'Montserrat';
}

h1 {
  font-size: 2em;
  color: var(--softRed);
  position: relative; /* make the h1 a relative positioning context */

}

h1::after {
  content: "";
  position: absolute; /* position the line absolutely */
  margin-left: 50px; /* align the line to the right of the h1 */
  top: 50%; /* align the line to the middle of the h1 */
  transform: translateY(-50%); /* center the line vertically */
  width: 50%; /* make the line as wide as the h1 */
  height: 1px; /* make the line 1px high */
  background-color: white; /* set the line color to white */
}